.background {
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 1922px;
  height: 1080px;
  overflow: hidden;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
.e {
  margin: 20px;
}
button {
  background-color: transparent !important ;
  color: transparent !important;

  overflow: hidden;
  outline: none;
  background-color: Transparent !important;
  background-repeat: no-repeat;
  cursor: pointer;
  border-style: transparent !important;
}
#countdown-top_vision {
  border-color: 20px solid #333;
  z-index: 1000;
}
.image-button {
  background: url("Flash.png");
  background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
  border: none; /* Loại bỏ viền */
}
.top {
  position: absolute;
  top: 153px;
  left: 604px;
  z-index: 1000;
}
#image-top {
  width: 30px;
}
#countdown-top_vision {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999999;
  font-size: 20px;
  color: aliceblue;
}
#countdown-mid_vision {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999999;
  font-size: 20px;
  color: aliceblue;
}
.mid {
  position: absolute;
  top: 470px;
  left: 930px;
  z-index: 1000;
}

#image-mid {
  width: 30px;
}
.ad {
  position: absolute;
  top: 779px;
  left: 1208px;
  z-index: 1000;
}
#image-ad {
  width: 30px;
}
.sp {
  position: absolute;
  top: 1160px;
  left: 1920px;
  z-index: 1000;
}
#image-sp {
  width: 30px;
}
.jungle {
  position: absolute;
  top: 640px;
  left: 986px;
  z-index: 1000;
}
#image-jg {
  width: 30px;
}

#countdown-ad_vision {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999999;
  font-size: 20px;
  color: aliceblue;
}
#countdown-sp_vision {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999999;
  font-size: 20px;
  color: aliceblue;
}
#countdown-jg_vision {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999999;
  font-size: 20px;
  color: aliceblue;
}
